<?xml version="1.0"?>
<!--
/**
 * @author Santhosh
 * @package Faya_Comparelimit
 */ 
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="faya_extensions" translate="label" sortOrder="10">
            <label>Faya Extensions</label>
        </tab>
        <section id="compare" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Compare Limit</label>
            <tab>faya_extensions</tab>
            <resource>Faya_Compare::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Compare Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_limit" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Set Product Limit</label>
                    <validate>validate-number</validate>
                </field>
            </group>            
        </section>
    </system>
</config>
