<?xml version="1.0"?>
<!--
/**
 * @author Santhosh
 * @package Faya_Comparelimit
 */ 
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<compare>
			<general>
				<enable>1</enable>
				<product_limit>5</product_limit>
			</general>			
		</compare>
	</default>
</config>
